.form{
    margin-left: 1rem;
    margin-right: 1rem;
}
.title{
    margin-top: 5rem;
    margin-left: 2rem;

    margin-right: auto;
    width: fit-content;
}
.title > h1{
    font-weight: 550;
    font-size: 3rem;
}

.loginlink{
    margin-top: 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
ion-icon{
    margin-top: 1rem;
}