<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/contacts"></ion-back-button>
    </ion-buttons>
    <ion-title>New Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input type="text" formControlName="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email 1</ion-label>
        <ion-input type="text" formControlName="email1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email 2</ion-label>
        <ion-input type="text" formControlName="email2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone 1</ion-label>
        <ion-input type="text" formControlName="phone1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone 2</ion-label>
        <ion-input type="text" formControlName="phone2"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" (click)="onSubmit()">Simpan</ion-button>
  </form>
</ion-content>
