<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navback()">
      <ion-icon style="font-size: 1.5rem;" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: -48px;">Add Friend</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" (ionChange)="onChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngIf="Dummy.length == 0">
      <ion-item lines="none" style="text-align: center;">
        <!-- <ion-label>You already added All friends</ion-label> -->
      </ion-item>
    </div>
    <div *ngIf="Dummy.length != 0">
      <ion-item *ngFor="let dummy of Dummy" >
        <ion-avatar slot="start">
          <img *ngIf="!dummy.profileImage" src="../../assets/img/orang.png" alt="">
          <img *ngIf="dummy.profileImage" [src]= dummy.profileImage>
        </ion-avatar>
        <ion-label (click)="add(dummy.nama)">
          <h2>{{dummy.nama}}</h2>
        </ion-label>
      </ion-item>
    </div>
    
  </ion-list>
</ion-content>
