ion-searchbar {
    --background:#ECECEC;
    --border-radius: 5px;
    --box-shadow: 2px;
    --cancel-button-color: grey;
    --clear-button-color: grey;
    --color: black;
    --icon-color: grey;
    --placeholder-color: grey;
    --placeholder-font-style: initial;
    --placeholder-font-weight: initial;
}
.addFriend{
    font-size: 1.5rem;
    margin-right: 1rem;
}