<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="">
      <ion-back-button defaultHref="/contacts"></ion-back-button>
    </ion-button>
    <ion-title>Contact Detail</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/contacts/edit/{{loadedContact.name}}"><ion-icon name="create-outline" slot="icon-only"></ion-icon></ion-button>
      <ion-button (click)="presentAlert()"><ion-icon name="trash-outline"></ion-icon></ion-button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-item color="tertiary">
          <ion-avatar slot="start">
            <ion-img [src]="loadedContact.profileImageUrl"></ion-img>
          </ion-avatar>
          <ion-card-title>{{loadedContact.name}}</ion-card-title>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let email of loadedContact.email" color="tertiary">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          {{email}}
        </ion-item>
        <ion-item *ngFor="let phone of loadedContact.phone" color="tertiary">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          {{phone}}
        </ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>
