<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-button>
    <ion-title>{{loadedPlace.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/places']">Book</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="loadedPlace.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          {{loadedPlace.description}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
