<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contactindex</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/contactcreate">CREATE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let orang of contact">
      <ion-avatar>
        <ion-img src="{{orang.imageUrl}}"></ion-img>
      </ion-avatar>
      <ion-label>{{orang.nama}} - {{orang.email}} - {{orang.telpon}}</ion-label>
      <ion-button routerLink="/{{orang.key}}">EDIT</ion-button>
      <ion-button (click)="delete($event, orang.key)">DELETE</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
