<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add New Contact</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"  color="secondary">
  <ion-list>
    <ion-item color="tertiary">
      <ion-label position="floating">Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="tertiary">
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="tertiary">
      <ion-label position="floating">Phone</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="primary" (click)="onSave()">Save</ion-button>
</ion-content>
