<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
      <ion-row>
        <ion-col text-center>
          Your Registered EmailId : {{userEmail}}
        </ion-col>
      </ion-row>
      <ion-col text-center>
        <ion-button routerLink="/contact">Contact Page</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log Out</ion-title>
  </ion-toolbar>
</ion-footer>
