.title{
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
}
.title > h1{
    font-weight: 550;
    font-size:3rem;
}
.form{
    margin-left: 1rem;
    margin-right: 1rem;
}
.registerlink{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
ion-icon{
    margin-top: 1rem;
}