<ion-header>
  <ion-toolbar>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="border-radius: 50%; display: block; margin: 50px auto;"  src="assets/meme.jpg">
  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-label style="font-size: 32px;" class="ion-text-center"> Andreas Agustinus  00000019633 </ion-label><br>
        _____________<br><br>

        <ion-label class="ion-text-center"> RVNG </ion-label>
        <br><br><br><br>

        <ion-card>
          <ion-card-content>
            <ion-label style="color:white; font-size: 32px;" class="ion-text-center"> Referensi </ion-label><br>
            <ion-label style="font-size: 24px;" class="ion-text-center"> Modul Mingguan Week 1-7 </ion-label><br>
            <ion-label style="font-size: 24px;" class="ion-text-center"> Tugas Mingguan Week 1-7 </ion-label><br>
            <ion-label style="font-size: 24px;" class="ion-text-center"> Ionic Documentation </ion-label>
          </ion-card-content>
        </ion-card>

      </div>

    </ion-col>
  </ion-row>

</ion-content>
